# -------------------------------------										
#  GIANO CONFIGURATION
# -------------------------------------

#####################################################################
#   Giano Extruder 1 (Motor_7)
#####################################################################									
[extruder]

[extruder_stepper giano_extruder_1]
extruder:
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
microsteps: 16
rotation_distance: 53.152
full_steps_per_rotation: 200
gear_ratio: 9.54647:1

[tmc2209 extruder_stepper giano_extruder_1]
uart_pin: PE1
run_current: 0.8
stealthchop_threshold: 0
interpolate: False
#driver_TBL: 1
#driver_TOFF: 3
#driver_HEND: 9
#driver_HSTRT: 7

#####################################################################
#   Giano Extruder 2 (Motor_8)
#####################################################################									
[extruder_stepper giano_extruder_2]
extruder:
step_pin: PE6
dir_pin: PA14
enable_pin: !PE0
microsteps: 16
rotation_distance: 53.152
full_steps_per_rotation: 200
gear_ratio: 9.54647:1

[tmc2209 extruder_stepper giano_extruder_2]
uart_pin: PD3
run_current: 0.8
stealthchop_threshold: 0
interpolate: False
driver_TBL: 1
driver_TOFF: 3
driver_HEND: 9
driver_HSTRT: 7



# # -------------------------------------										
# # F1 Filament Sensor
# # -------------------------------------										
# [filament_switch_sensor feeder_1_filament_sensor]
# event_delay: 0.1
# pause_on_runout: True
# runout_gcode: 
#     F_RUNOUT TOOL=1
# insert_gcode: 
#     F_INSERT TOOL=1
# switch_pin: ^PA5

# # -------------------------------------										
# # F2 Filament Sensor
# # -------------------------------------										
# [filament_switch_sensor feeder_2_filament_sensor]
# event_delay: 0.1
# pause_on_runout: True
# runout_gcode: 
#     F_RUNOUT TOOL=2
# insert_gcode: 
#     F_INSERT TOOL=2
# switch_pin: ^PA4


# -------------------------------------										
# Toolhead Filament Sensor
# -------------------------------------										

[filament_switch_sensor toolhead_filament_sensor]
pause_on_runout: False
event_delay: 0.1
switch_pin: ^!sb2040:gpio25


# # -------------------------------------										
# # Y1 Filament Sensor
# # -------------------------------------										
# [filament_switch_sensor y1_filament_sensor]
# pause_on_runout: False
# event_delay: 0.1
# switch_pin: ^!PG13

# # -------------------------------------										
# # Y2 Filament Sensor
# # -------------------------------------										
# [filament_switch_sensor y2_filament_sensor]
# pause_on_runout: False
# event_delay: 0.1
# switch_pin: ^!PG14

# -------------------------------------										
#  GIANO CONFIGURATION
# -------------------------------------										
[giano]
pre_unload_gcode:
  FILAMENT_SCHNEIDEN
  BLOBIFIER_PARK
  

post_load_gcode:
  M118 Filament erfolgreich geladen
  BLOBIFIER

  
tool_count: 2                                   # number of feeding extruders
debug_level: 3                                  # 0 no debug, 1 normal, 2 verbose, 3 All commands
use_filament_caching: 1                         # 1 = giano caches the filament right behind the toolhead sensor instead of completely unloading it
                                                # 0 = no caching
                                                
extruder_push_and_pull_test: 0                  # 1 = test if filament could successfully loaded into extruder
                                                # 0 = do not test
                                                
unload_filament_after_print: 1                  # 1 = unloads filament after printing has finished
                                                # 0 = filament stays in hotend
                                                
nozzle_loading_speed_mms: 20                    # extruder speed when moving the filament between the parking position and the nozzle 
filament_homing_speed_mms: 30                   # extruder speed when moving the filament inside bowden tube
filament_parking_speed_mms: 10                  # extruder speed when moving the filament between the filament sensor and the parking position


toolhead_sensor_to_bowden_cache_mm: 52          # distance between the filament sensor and the filament caching position
toolhead_sensor_to_bowden_parking_mm: 50        # distance between the filament sensor and the filament parking position
toolhead_sensor_to_extruder_gear_mm: 20.5       # distance between the filament sensor and the extruder gears
extruder_gear_to_parking_position_mm: 19.5      # distance between the extruder gears and the parking position
parking_position_to_nozzle_mm: 10               # distance between the parking position and the nozzle


# ---------------------------------------------
#  Pause / Resume
# ---------------------------------------------
[gcode_macro _PAUSE_GIANO]
gcode:
  SAVE_GCODE_STATE NAME=PAUSE_state
  #SET_IDLE_TIMEOUT TIMEOUT=36000
  G91
  G1 Z+50 F200
  G90
  {printer.configfile.settings['gcode_macro pause'].rename_existing}


[gcode_macro _RESUME_GIANO]
gcode:
  RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=600
  {printer.configfile.settings['gcode_macro resume'].rename_existing}




