#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
[gcode_macro PRINT_START]
gcode:
    G90							# Use absolute coordinates
	G32							# Home all & QGL
	CLEAN_NOZZLE				# Clean Nozzle
	CALIBRATE_Z					# Calibrate Z-Offset
    STATUS_PRINTING
    G91							# Use relative coordinates
    G1 E14.0 F3000              # extrude filament 10mm
    G90							# Use absolute coordinates

    BED_MESH_PROFILE LOAD=default
