#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
[gcode_macro PRINT_START]
gcode:
    G90							       # Benutze absolute Koordinaten
	G32							       # Home all & QGL
	SET_MATERIAL MATERIAL={MATERIAL}   # Setze Material-Typ
    CLEAN_NOZZLE				       # Reinige die Düse
	CALIBRATE_Z					       # Kalibriere Z-Offset
    BED_MESH_CALIBRATE
    #ADAPTIVE_BED_MESH                  # Erstelle Adaptives Bed-Mesh
    STATUS_PRINTING                    # Setze den Status der SB-Leds
    M83                                # Setze Extruder in relativen modus
    G1 E14 F700                        # Extrudiere 14mm Filament
    M82                                # Setze Extruder in absoluten modus
    BED_MESH_PROFILE LOAD=default